@font-face {
  font-family: "Matahari";
  src: url("../Fonts/CloudDancer/CloudDancer.otf");
  src: url("../Fonts/CloudDancer/CloudDancer.ttf") format("ttf"),
    url("../Fonts/CloudDancer/CloudDancer.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #e3c8da;
}

section {
  height: 100vh;
  padding: 10em;
}

.inline {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.name-letters {
  font-size: clamp(5.5rem, 15vw, 12rem);
  font-family: "CloudDancer";
  margin-bottom: -10rem;
  color: #632a50;
  position: relative;
}

/* .name-letters div {
  position: static;
} */

/* .name-letters div:nth-child(2) {
  top: 1.13rem;
}
.name-letters div:nth-child(3) {
  top: -0.6rem;
}
.name-letters div:nth-child(4) {
  top: 0.5rem;
}
.name-letters div:nth-child(5) {
  top: 1.3rem;
}
.name-letters div:nth-child(6) {
  top: -0.3rem;
} */

.identifiers div {
  margin-right: 3.5rem;
}

.identifiers {
  position: absolute;
  top: 25rem;
  left: 49rem;
  font-size: 1.7rem;
  /* width: 100%; */
  color: #1f491a;
  font-family: "Time";
}

.cloud-color {
  filter: invert(46%) sepia(12%) saturate(1161%) hue-rotate(267deg)
    brightness(102%) contrast(87%);
}

.cloud {
  width: 20rem;
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
}

.cloud-container {
  /* height: 100vh;
  width: 100vh; */
  position: absolute;
  z-index: -1;
}

.cloud-container:hover {
  animation-name: shake;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.cloud-one {
  top: 20rem;
  left: 25rem;
}

.cloud-two {
  top: 9rem;
  left: 77rem;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  /* 25% {
    transform: rotate(25deg);
  } */
  50% {
    transform: rotate(-5deg);
  }
  /* 75% {
    transform: rotate(-25deg);
  } */
  100% {
    transform: rotate(0deg);
  }
}

@keyframes raindrop {
  0% {
    transform: translate(0, 10px);
    height: 5rem;
  }
  100% {
    transform: translate(0, 50px);
    height: 5rem;
  }
}
.rain-container {
  /* height: 100vh;
    width: 100vh; */
  position: relative;
  z-index: -1;
}

.rain-two {
  top: -10rem;
  left: -27rem;
  /* height: 5rem; */
  display: none;
}
.cloud-container:hover + .rain-two {
  display: block;
  animation: raindrop;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 5rem;
}

.rain-color {
  filter: invert(19%) sepia(25%) saturate(2379%) hue-rotate(244deg)
    brightness(91%) contrast(97%);
}
