@font-face {
  font-family: "Matahari";
  src: url("../Fonts/CloudDancer/CloudDancer.otf");
  src: url("../Fonts/CloudDancer/CloudDancer.ttf") format("ttf"),
    url("../Fonts/CloudDancer/CloudDancer.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #f2dfe0;
}

section {
  height: 100vh;
  padding: 10em;
}

.inline {
  display: flex;
  justify-content: space-between;
}

.title {
  display: grid;
  place-items: center;
}
.name-letters {
  font-size: clamp(5.5rem, 15vw, 12rem);
  font-family: "CloudDancer";
  margin-bottom: -10rem;
  color: #632a50;
}
.name-letters div {
  position: relative;
}
.name-letters div:nth-child(2) {
  top: 1rem;
}
.name-letters div:nth-child(3) {
  top: -0.6rem;
}
.name-letters div:nth-child(4) {
  top: 0.5rem;
}
.name-letters div:nth-child(5) {
  top: 1.3rem;
}
.name-letters div:nth-child(6) {
  top: -0.3rem;
}

.identifiers div {
  /* padding-left: 3.5rem; */
}

.identifiers {
  top: -10rem;
  font-size: 1.7rem;
  width: 35vw;
  color: #190605;
}

.cloud-color {
  filter: invert(68%) sepia(23%) saturate(272%) hue-rotate(115deg)
    brightness(89%) contrast(86%);
}

.cloud {
  width: 20rem;
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
}

.cloud-container {
  /* height: 100vh;
  width: 100vh; */
  position: relative;
  top: -5rem;
  left: -25rem;
}
