* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
}

section {
    height: 100vh;
    padding: 10em;

    h1 {
        font-size: 3em;
    }

    p {
        font-size: 1em;
    }
}
